[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
python-dotenv = "*"
pylint = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restplus = "*"
flask-login = "*"
pylint-flask = "*"
werkzeug = "*"
itsdangerous = "*"
flask-script = "*"
flask-sslify = "*"
flask-migrate = "*"
faker = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
